.sign-up__header
  .sign-up__header__image
.sign-up__main
  .sign-up__main__box
    = form_for @address do |f|
      = render "devise/shared/error_messages", resource: @address
      .sign-up__main__box__contents
        %h1.sign-up-head 住所登録
      .sign-up__main__box__information
        .sign-up__main__box__information__contents
          .field-label
            = f.label :性（全角）, class: "field-label__name"
            %span.field-label__required 必須
            = f.text_field :last_name_ad, autofocus: true, class: "field-label__input",placeholder: "例)山田"
          .field-label
            = f.label :名（全角）, class: "field-label__name"
            %span.field-label__required 必須
            = f.text_field :first_name_ad, autofocus: true, class: "field-label__input",placeholder: "例)太郎"
          .field-label
            = f.label :せい（全角）, class: "field-label__name"
            %span.field-label__required 必須
            = f.text_field :last_furigana_ad, autofocus: true, class: "field-label__input",placeholder: "例)やまだ"
          .field-label
            = f.label :めい（全角）, class: "field-label__name"
            %span.field-label__required 必須
            = f.text_field :first_furigana_ad, autofocus: true, class: "field-label__input",placeholder: "例)たろう"
          .field-label
            = f.label :電話番号, class: "field-label__name"
            %span.field-label__any 任意
            = f.text_field :phone_number_ad, autofocus: true, autocomplete: "phone_number_ad", class: "field-label__input",placeholder: "ハイフンなし10~11桁"
          .field-label
            = f.label :郵便番号, class: "field-label__name"
            %span.field-label__required 必須
            = f.text_field :zip, autofocus: true, autocomplete: "zip", class: "field-label__input",placeholder: "ハイフンなし7桁"
          .field-label
            = f.label :都道府県, class: "field-label__name"
            %span.field-label__required 必須
            = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "選択して下さい"
          .field-label
            = f.label :市区町村, class: "field-label__name"
            %span.field-label__required 必須
            = f.text_field :city, autofocus: true, class: "field-label__input",placeholder: "例)ペンギン村"
          .field-label
            = f.label :番地, class: "field-label__name"
            %span.field-label__required 必須
            = f.text_field :street, autofocus: true, class: "field-label__input",placeholder: "例)千躰1-1-1"
          .field-label
            = f.label :マンション名, class: "field-label__name"
            %span.field-label__any 任意
            = f.text_field :building_name, autofocus: true, class: "field-label__input",placeholder: "例)スカイビル100"
          .actions
            = f.submit "signup",  class: "actions__btn"
.sign-up__footer
  .sign-up__footer__image
//= render "devise/shared/links"