#showUsers
  .main
    .main__leftBox
      .main__leftBox__icon
        -if @user.image.present?
          =image_tag @user.image.to_s, class:"main__leftBox__icon--photo"
        -else 
          =image_tag "/images/material/icon/icon_camera.png", class:"main__leftBox__icon--photo"
      .main__leftBox__name
        = ":#{@user.nickname}"
      .main__leftBox__menu
        =link_to(edit_user_path(current_user.id),class:"main__leftBox__menu--item") do
          プロフィール設定
        =link_to("#",class:"main__leftBox__menu--item") do
          クレジットカード情報登録
        =link_to("#",class:"main__leftBox__menu--item") do
          クレジットカード情報変更
        =link_to(destroy_user_session_path,method: :delete,class:"main__leftBox__menu--logout") do
          ログアウト
    .main__rightBox
      .main__rightBox__items
        .main__rightBox__items__title
          .main__rightBox__items__title--text
            出品した商品 
          .main__rightBox__items__title--count
            ="#{@user.selling_items.count}コ"
        -if @user.selling_items.count < 3
          .main__rightBox__items__contents
            -[0,0,0].zip(@user.selling_items.order(id: "DESC")) do |z,item|
              -if item.present? && item.seller_id == current_user.id
                =link_to(item_path(item.id),class:"main__rightBox__items__contents__content")do
                  .main__rightBox__items__contents__content__imageWrapper
                    =image_tag item.images.first.src.to_s,class:"main__rightBox__items__contents__content__imageWrapper--image"
                  .main__rightBox__items__contents__content--name
                    =item.name
                  .main__rightBox__items__contents__content--price
                    ="#{item.price.to_s.insert(-4,",")}円"
              - else
                .main__rightBox__items__contents__content
                  .main__rightBox__items__contents__content__imageWrapper
                    =image_tag "/images/material/icon/icon_camera.png" ,class:"main__rightBox__items__contents__content__imageWrapper--image"
                  .main__rightBox__items__contents__content--name
                    出品されていません
        -else
          .main__rightBox__items__contents
            -@user.selling_items.order(id: "DESC").each do|item|
              =link_to(item_path(item.id),class:"main__rightBox__items__contents__content")do
                .main__rightBox__items__contents__content__imageWrapper
                  =image_tag item.images.first.src.to_s,class:"main__rightBox__items__contents__content__imageWrapper--image"
                .main__rightBox__items__contents__content--name
                  =item.name
                .main__rightBox__items__contents__content--price
                  ="#{item.price}円"
      .main__rightBox__items
        .main__rightBox__items__title
          .main__rightBox__items__title--text
            購入した商品 
          .main__rightBox__items__title--count
            ="#{@user.buyed_items.count}コ"
        -if @user.buyed_items.count < 3
          .main__rightBox__items__contents
            -[0,0,0].zip(@user.buyed_items.order(id: "DESC")) do |z,item|
              -if item.present? && item.buyer_id == current_user.id
                =link_to(item_path(item.id),class:"main__rightBox__items__contents__content")do
                  .main__rightBox__items__contents__content__imageWrapper
                    =image_tag item.images.first.src.to_s,class:"main__rightBox__items__contents__content__imageWrapper--image"
                  .main__rightBox__items__contents__content--name
                    =item.name
                  .main__rightBox__items__contents__content--price
                    ="#{item.price}円"
              - else
                .main__rightBox__items__contents__content
                  .main__rightBox__items__contents__content__imageWrapper
                    =image_tag "/images/material/icon/icon_camera.png" ,class:"main__rightBox__items__contents__content__imageWrapper--image"
                  .main__rightBox__items__contents__content--name
                    購入していません
        -else
          .main__rightBox__items__contents
            -@user.buyed_items.order(id: "DESC").each do|item|
              =link_to(item_path(item.id),class:"main__rightBox__items__contents__content")do
                .main__rightBox__items__contents__content__imageWrapper
                  =image_tag item.images.first.src.to_s,class:"main__rightBox__items__contents__content__imageWrapper--image"
                .main__rightBox__items__contents__content--name
                  =item.name
                .main__rightBox__items__contents__content--price
                  ="#{item.price}円"



