.show-main
  .show-main-box
    .show-main-box-left
      .show-main-box-left-icon
        -if @user.image.present?
          =image_tag @user.image.to_s, class:"show-main-box-left-icon-photo"
        -else 
          =image_tag "/images/material/icon/icon_camera.png", class:"show-main-box-left-icon-photo"
      .show-main-box-left-name
        = ":#{@user.nickname}"
      =link_to("#") do
        .show-main-box-left-item
          プロフィール設定
      =link_to(edit_user_path(current_user.id)) do
        .show-main-box-left-item
          アイコン設定
      =link_to("#") do
        .show-main-box-left-item
          クレジットカード情報登録
      =link_to("#") do
        .show-main-box-left-item
          クレジットカード情報変更
      =link_to(destroy_user_session_path,method: :delete) do
        .show-main-box-left-item
          ログアウト
    .show-main-box-right
      .show-main-box-right-bottom
        .show-main-box-right-bottom-title
          .show-main-box-right-bottom-title-text
            最近出品した商品 
          = link_to "出品一覧⇨", "#"
        .show-main-box-right-bottom-main
          -[0,0,0].zip(@user.selling_items) do |z,item|
            -if item.present? && item.seller_id == current_user.id
              =link_to(item_path(item.id),class:"show-main-box-right-bottom-main-box")do
                .show-main-box-right-bottom-main-box-item
                  =image_tag item.images.first.src.to_s,class:"show-main-box-right-bottom-main-box-item-image"
                .show-main-box-right-bottom-main-box-name
                  =item.name
                .show-main-box-right-bottom-main-box-value
                  ="#{item.price}円"
            - else
              .show-main-box-right-bottom-main-box
                .show-main-box-right-bottom-main-box-item
                  =image_tag "/images/material/icon/icon_camera.png" ,class:"show-main-box-right-bottom-main-box-item-image"
                .show-main-box-right-bottom-main-box-name
                  出品されていません
        .show-main-box-right-bottom-title
          .show-main-box-right-bottom-title-text
            最近購入した商品 
          = link_to "購入一覧⇨", "#"
        .show-main-box-right-bottom-main
          -[0,0,0].zip(@user.buyed_items) do |z,item|
            -if item.present? && item.buyer_id == current_user.id
              =link_to(item_path(item.id),class:"show-main-box-right-bottom-main-box")do
                .show-main-box-right-bottom-main-box-item
                  =image_tag item.images.first.src.to_s,class:"show-main-box-right-bottom-main-box-item-image"
                .show-main-box-right-bottom-main-box-name
                  =item.name
                .show-main-box-right-bottom-main-box-value
                  ="#{item.price}円"
            - else
              .show-main-box-right-bottom-main-box
                .show-main-box-right-bottom-main-box-item
                  =image_tag "/images/material/icon/icon_camera.png" ,class:"show-main-box-right-bottom-main-box-item-image"
                .show-main-box-right-bottom-main-box-name
                  購入していません