.show-main
  .show-main-box
    .show-main-box-left
      .show-main-box-left-item
        = link_to "マイページ ", "#"
      .show-main-box-left-item
        = link_to "プロフィール設定", "#"
      .show-main-box-left-item
        = link_to "発送元、お届け先変更", "#"
      .show-main-box-left-item
        = link_to "メール、パスワード変更", "#"
      .show-main-box-left-item
        = link_to "番号確認", "#"
      .show-main-box-left-item
        = link_to "評価一覧", "#"
      .show-main-box-left-item
        = link_to "いいね一覧", "#"
      .show-main-box-left-item
        = link_to "クレジットカード登録", new_card_path
      .show-main-box-left-item
        = link_to "クレジットカード変更", cards_path
      .show-main-box-left-item
        = link_to "ログアウト", "#"
    .show-main-box-right
      .show-main-box-right-top
        .show-main-box-right-top-icon
          アイコン画像
        .show-main-box-right-top-name
          User Name
        .show-main-box-right-top-text
          評価 0 出品数 0
      .show-main-box-right-bottom
        .show-main-box-right-bottom-title
          最近購入した商品
        .show-main-box-right-bottom-main
          .show-main-box-right-bottom-main-box
            .show-main-box-right-bottom-main-box-item
              商品画像
            .show-main-box-right-bottom-main-box-name
              商品名
            .show-main-box-right-bottom-main-box-value
              2000000円
          .show-main-box-right-bottom-main-box
            .show-main-box-right-bottom-main-box-item
              商品画像
            .show-main-box-right-bottom-main-box-name
              商品名
            .show-main-box-right-bottom-main-box-value
              2000000円
          .show-main-box-right-bottom-main-box
            .show-main-box-right-bottom-main-box-item
              商品画像
            .show-main-box-right-bottom-main-box-name
              商品名
            .show-main-box-right-bottom-main-box-value
              2000000円
        .show-main-box-right-bottom-menu
          = link_to "購入一覧", "#"
          = link_to "→", "#"