.done-main

  .done-main__box
    .done-main__box__header
      %h1.done-main__box__header__title 購入内容の確認
    .done-main__box__detail
      .done-main__box__detail__item
        .done-main__box__detail__item__image
          .done-main__box__detail__item__image__imgbox
            =image_tag @item.images.first.src.to_s, height: "80px" , width: "80px"
          
          .done-main__box__detail__item__image__text
            .done-main__box__detail__item__image__text__name
              = @item.name   
            .done-main__box__detail__item__image__text__price
              = "￥#{@item.price} (税込)"
              %br
              = @item.responsibility.name
  .done-main__box
    .done-main__box__information
      .done-main__box__information__mony
        支払い金額
      .done-main__box__information__tax
        = "￥#{@item.price} (税込)"
      
    .done-main__box__information
      .done-main__box__information__method
        支払い方法
      .done-main__box__information__registration
        クレジット
    .done-main__box__address
      .done-main__box__address__delivery
        配送先
      .done-main__box__address__each
        = current_user.address.zip.to_s.insert(0,"〒 ").insert(5," - ")
        %br
        = current_user.address.prefecture.name
        = current_user.address.city
        %br
        = current_user.address.street
        = current_user.address.building_name
        %br
        = current_user.address.last_name_ad
        = current_user.address.first_name_ad
    .done-main__box__btn
      = form_with url: purchase_item_path, method: :post, local: true do |form| 
        = form.submit "購入する", class: "done-main__box__btn__purchase" 
        
