//= form_with url:"/", html: {class: "edit_form-label"}, do |f|
= form_with model: @user do
  :plain
    <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_755fde24bed9898a63936fc3"></script>
= form_with model: @item, local: true do |f|
  .edit_wrapper
    //ーーヘッダー部分ーー
    .edit_content1
      .edit_main-content1
        .edit_item
          .edit_item_left
            出品画像
          .edit_item_right
            必須
        .edit_exe
          最大10枚までアップロードできます
        .edit_picture
          .edit_picture_exe
            #image-box
              = f.fields_for :images do |i|
                .js-file_group{"data-index" => "#{i.index}"}
                  = i.file_field :src, class: 'js-file'
                  %span.js-remove 削除
                - if @item.persisted?
                  = i.check_box :_destroy, data:{ index: i.index }, class: 'hidden-destroy'
              - if @item.persisted?
                .js-file_group{"data-index" => "#{@item.images.count}"}
                  = file_field_tag :src, name: "item[images_attributes][#{@item.images.count}]", class: 'js-file'
                  .js-remove 削除 
            //%br ドラッグアンドドロップ
            //またはクリックしてファイルをアップロード
        //-------ここまでcontent1--------
    .edit_content2
      .edit_main-header2
        .edit_item
          .edit_item_left
            商品名
          .edit_item_right
            必須
        = f.text_field :name, class: 'edit_form-label__message', placeholder: '40字まで'
      .edit_main-header3
        .edit_item
          .edit_item_left
            商品の説明 
          .edit_item_right
            必須 
        
        = f.text_area :explaination, class: 'edit_form-text_area-message', placeholder: '40字まで'
      .edit_count
        0/1000
        //------------ここまでcontent2-------------
    .edit_content3
      .edit_title
        商品の詳細
      .edit_box
        .edit_main-header4
          .edit_item
            .edit_item_left
              カテゴリー
            .edit_item_right
              必須
          = f.text_field :category, class: 'edit_form-label__message', placeholder: 'ここにselectが入る'
        .edit_main-header5    
          .edit_items
            .edit_items_left
              ブランド
            .edit_items_right
              任意
          = f.text_field :brand, class: 'edit_form-label__message', placeholder: '例）シャネル'
        .edit_main-header6
          .edit_item
            .edit_item_left
              商品の状態
            .edit_item_right
              必須 
          = f.collection_select :condition_id, Condition.all, :id, :name,class: 'edit_form-label__message', placeholder: 'ここにselectが入る.' 
      -# -------------ここまでcontent3---------------
    .edit_content4
      .edit_title
        配送について 
      .edit_title_logo
        
      .edit_item
        .edit_item_left
          配送料の負担
        .edit_item_right
          必須
      = f.collection_select :responsibility_id, Responsibility.all, :id, :name, class: 'edit_form-label__message', placeholder: 'ここにselectが入る'

      .edit_item  
        .edit_item_left
          発送元の地域
        .edit_item_right
          必須
      = f.collection_select :prefecture_id, Prefecture.all, :id, :name, class: 'edit_form-label__message', placeholder: 'ここにselectが入る'

      .edit_item
        .edit_item_left
          発送までの日数
        .edit_item_right
          必須
      = f.collection_select :shipment_id, Shipment.all, :id, :name, class: 'edit_form-label__message', placeholder: 'ここにselectが入る'
      
    .edit_content5
      .edit_title
        価格（¥300〜9,999,999）
      .edit_title_logo

      .edit_input
        .edit_item  
          .edit_item_left
            販売価格
          .edit_item_right
            必須   
        = f.text_field :price, class: 'edit_price_input', placeholder: '0'

      .edit_tax-box
        .edit_tax-box_left
          販売手数料（10%）
        .edit_tax-box_right
          %p -
      .edit_profit
        .edit_profit-left
          販売利益    
        .edit_profit-right
          %p -
      .edit_button
        .edit_button-shipping
          = f.submit "変更する", class: "edit_button-shipping"
          //= link_to(item_path(@item.id), method: :patch , class: "edit_button-shipping") do
          //変更する
        .edit_button-delete
          = link_to(item_path(@item.id),method: :delete ,class: "edit_button-back") do
            この商品を削除する
      .edit_bottom_box
        禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
