= form_with url:"/", html: {class: "edit_form-label"} do |f|
  .edit_wrapper
    .edit_header
      =image_tag "/images/material/logo/logo.png" ,class:"edit_logo"
    //ーーヘッダー部分ーー
    .edit_content1
      .edit_main-content1
        .edit_item
          .edit_item_left
            出品画像
          .edit_item_right
            必須
        .edit_exe
          最大10枚までアップロードできます
        .edit_picture
          .edit_picture_exe
            %br ドラッグアンドドロップ
            またはクリックしてファイルをアップロード
        //-------ここまでcontent1--------
    .edit_content2
      .edit_main-header2
        .edit_item
          .edit_item_left
            商品名
          .edit_item_right
            必須
        = f.text_field :content, class: 'edit_form-label__message', placeholder: '40字まで'
      .edit_main-header3
        .edit_item
          .edit_item_left
            商品の説明 
          .edit_item_right
            必須 
        
        = f.text_area :content, class: 'edit_form-text_area-message', placeholder: '40字まで'
      .edit_count
        0/1000
        //------------ここまでcontent2-------------
    .edit_content3
      .edit_title
        商品の詳細
      .edit_main-header4
        .edit_item
          .edit_item_left
            カテゴリー
          .edit_item_right
            必須
        = f.text_field :content, class: 'edit_form-label__message', placeholder: 'ここにselectが入る'
      .edit_main-header5    
        .edit_items
          .edit_items_left
            ブランド
          .edit_items_right
            任意
        = f.text_field :content, class: 'edit_form-label__message', placeholder: '例）シャネル'
      .edit_main-header6
        .edit_item
          .edit_item_left
            商品の状態
          .edit_item_right
            必須 
        = f.text_field :content, class: 'edit_form-label__message', placeholder: 'ここにselectが入る.' 
      -# -------------ここまでcontent3---------------
    .edit_content4
      .edit_title
        配送について 
      .edit_title_logo
        
      .edit_item
        .edit_item_left
          配送料の負担
        .edit_item_right
          必須
      = f.text_field :content, class: 'edit_form-label__message', placeholder: 'ここにselectが入る'

      .edit_item  
        .edit_item_left
          発送元の地域
        .edit_item_right
          必須
      = f.text_field :content, class: 'edit_form-label__message', placeholder: 'ここにselectが入る'

      .edit_item
        .edit_item_left
          発送までの日数
        .edit_item_right
          必須
      = f.text_field :content, class: 'edit_form-label__message', placeholder: 'ここにselectが入る'
      
    .edit_content5
      .edit_title
        価格（¥300〜9,999,999）
      .edit_title_logo

      .edit_input
        .edit_item  
          .edit_item_left
            販売価格
          .edit_item_right
            必須   
        = f.text_field :content, class: 'edit_price_input', placeholder: '0'

      .edit_tax-box
        .edit_tax-box_left
          販売手数料（10%）
        .edit_tax-box_right
          %p -
      .edit_profit
        .edit_profit-left
          販売利益    
        .edit_profit-right
          %p -
      .edit_button
        .edit_button-shipping
          変更する
        .edit_button-save
          出品を一時停止する
        .edit_button-back
          = link_to 'この商品を削除する', "/items/#{@item.id}", method: :delete
      .edit_bottom_box
        禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
      //---------------ここまでcontent5------------------------
    .edit_footer
      %ul.edit_footer_exe
        %li.edit_footer_exe_left
          プライバシーポリシー
        %li.edit_footer_exe_middle
          メルカリ利用規約
        %li.edit_footer_exe_right
          特定商取引に関する表記
      .edit_footer_logo
        =image_tag "/images/material/logo/logo.png" ,class:"edit_logo"